.body__header{
    width: 100vw;
}

.navbar{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

.navbarItems{
    /* flex-basis: 30%; */
}

.navbarLinksContainer{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.navbarLinks{
    margin: 1em;
}

.navbarLogo{}

.navbarButton{
    background: var(--black);
    color: var(--white);
}