.navbar {
    /* border: 10px solid rgb(240, 240, 61); */
    /* width: 100vw; */
    grid-area: navbar;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links-container{
    list-style-type: none;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: baseline; */
}

.navbar-links{
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
    font-size: 1em;
    padding: 1em;
}

.navbar-links:hover{
    color: var(--yellow);
}

.navbar-logo{}

.navbar-button{
    background: var(--black);
    color: var(--white);
}

/* #menuchk {
  display: none;
} */

/* .burgerMenu{
  display: none;
} */