.navbar{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarItems{}

.navbarLinksContainer{}

.navbarLinks{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.navbarLogo{}

.navbarButton{
    background: var(--black);
    color: var(--white);
}