.cardContainer{
    height: 60%;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3,1fr);
    gap: 24px;
}

.callToAction{
    background-color: var(--yellow);
}

.cardTemplate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card__header{}

.card__icon {
    position: absolute;
    width: 10%;
}

.card__content{}

.card__title{}

.card__text{}

.card__footer{}

.card__button{}

